/*1024 x 960 x 800 x 768 x 640 x 480 x 360*/

@media only screen and (max-width: 580px) {
    .desktop-design{
        display: none;
    }


    .mobile-design{
        display: block;
    }

    .nav button{
        border: 0;
    }

    .nav button{
        position: absolute;
        margin: 20px;
    }

    .nav .close{
        display: none;
    }


}